
  
  :root{
    --backcolor: #5cdb95;
    --txtcolor: #edf5e1;
    --highlight: #8ee4af;
    --arrow: #05386B;
  
  }
  
  .calendar-info{
      max-width: 500px; 
      height: 450px;
      border-style: solid;
      color: var(--txtcolor)
    }
    .top{
      height: 145px;
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color:var(--backcolor);
    }
    .year, .month{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem 0 1rem;
      
    }
    .arrow {
      border: solid var(--arrow);
      border-width: 0 0.2rem 0.2rem 0;
      width: 0.6rem;
      height: 0.6rem;
      display: flex;
      padding: 0.2rem;
    }
    .arrow:hover{
      border: solid black;
      border-width: 0 0.2rem 0.2rem 0;
      cursor: pointer;
    }
    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    .left{
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  
    .bottom{
      height: 300px;
      display: flex;
      justify-content: center;
  
    }
    .days_table{
      width: 100%;
      height: 10%;
      background-color: var(--arrow);
      
  
    }
    .days, .dates{
      display: flex;
      justify-content: space-between;
      text-align: center;
  
    }
    .dates th:hover{
      color: red;
      
    }