
  :root{
    --backcolor: #5cdb95;
    --txtcolor: #edf5e1;
    --highlight: #8ee4af;
    --arrow: #05386B;
    --today: #EAA221;
  
  }


  
  /**
    * TOP half of the calendar picker
    */
  .calendar-info{ 
      max-width: 500px; 
      height: 450px;
      color: var(--txtcolor)
    }
    .top{
      height: 140px;
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color:var(--backcolor);
    }
    .year{
      display: flex;
      justify-content: space-evenly;
    }
    .year h2:hover{
      background-color: var(--arrow);
      padding: 0 0.2em 0 0.2em;
    }
    .month{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem 0 1rem;
      
    }
    .arrow {
      border: solid var(--arrow);
      border-width: 0 0.2rem 0.2rem 0;
      width: 0.6rem;
      height: 0.6rem;
      display: flex;
      padding: 0.2rem;
    }
    .arrow:hover{
      border: solid black;
      border-width: 0 0.3rem 0.3rem 0;
      cursor: pointer;
    }
    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    .left{
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }

/**
  * BOTTOM half of the calendar picker. 
  */
    .bottom{
      max-width: 100%;
      width: 100%;
      height: 23em;
      background-color: var(--arrow);
      display: flex;
      flex-wrap: wrap;  
    
    }
    .days_table{
      text-align:  center;
      width: 100%;
      height: 10%;
      padding: 0.2em 1em 0 1em; 
    }
    .days, .dates{
      display: flex;
      justify-content: space-between;
      text-align: left;
      padding: 0 0.9rem 0 0.4rem;
  
    }
   
    .dates{
      width: 100%;
    }
    td{
      padding: 1em 1em 1em 1em;
      font-size: 1.1em;
    }

    .dates td:hover, td[selected]{
      background-color: var(--highlight);
      border-radius: 1rem;
   
    }

    td[prevmonth], td[nextmonth]{
      color: grey;
    }

    


    
